{% extends "ce_availability/base.html" %}

<script>
var myWindow;

function openWin() {
    myWindow = window.open("", "", "width=100, height=100");
}

function resizeWin() {
    myWindow.resizeTo(250, 250);
    myWindow.focus();
}
</script>


{% block content %}
<head>
	<!---
	<meta http-equiv="refresh" content="60">
	-->
</head>

	<div class="calendar_filter_form">
        <form method="POST" class="CalendarFilterForm" novalidate>{% csrf_token %}

                        <div class="fieldWrapper_filter">
                        <label for="{{ form.mode_selector.id_for_label }}">Location:</label>
                        <div class="input_field_filter"> {{ form.location_selector }} </div>
                        </div>

		
                        <div class="fieldWrapper_filter">
                        <label for="{{ form.mode_selector.id_for_label }}">View Mode:</label>
                        <div class="input_field_filter"> {{ form.mode_selector }} </div>
                        </div>


                        <div class="fieldWrapper_filter">
                        <label for="{{ form.year_selector.id_for_label }}">Year:</label>
                        <div class="input_field_filter"> {{ form.year_selector }} </div>
                        </div>

                        <div class="fieldWrapper_filter">
                        <label for="{{ form.month_selector.id_for_label }}">Month:</label>
                        <div class="input_field_filter"> {{ form.month_selector }} </div>
                        </div>

                        <input class=button_filter type="submit" value="Filter"></input>
        </form>
        </div>

 <!-- 
*************************************************************
*					CALENDARI PER SDMs						*
*************************************************************
-->


	{% ifequal user_type "SDM"%}
		<div class=edit_calendar>
		<!---
		<a href="./" title="Refresh" class="top-menu-icon"><span class="glyphicon glyphicon-refresh"></span></a>
		<br>
		<br>
<a class="festive_link" target="popup" onclick="window.open('/ce_availability/day_info/{{employee.id}}/{{year}}/{{month}}/{{day}}' ,'name','width=600,height=200')">
		-->
		<a target="popup" onclick="window.open('/ce_availability/calendar_edit' ,'name','width=1080,height=600')">
			Edit Calendar Events
		</a>
		</div>	


	{%ifequal mode "hours"%}
	<table class="table_calendar">
		<tr>
			<th class='ce_header'><b>Employee</b></th>
			<th class='location_header'><b>Location</b></th>
			{% for day in month_range %}
				{% for num_day, kind_day in day_of_week.items%}
					{% ifequal num_day day%}
						{% ifequal kind_day "Weekend"%}
						<th class='day_weekend'>{{day}}</th>
						{%endifequal%}
						{% ifequal kind_day "Festive"%}
							<th class='day_festive'>{{day}}</th>
						{%endifequal%}
						{% ifequal kind_day "WorkingDay"%}
						<th class='day_laborable'>{{day}}</th>
						{%endifequal%}
						{%ifequal kind_day "Intensive" %}
						<th class='day_intensive'>{{day}}</th>
						{%endifequal%}
					{%endifequal%}
				{% endfor %}
			{% endfor %}
			<th class='total_na_hours'><b>Total NA (hrs)</b></th>
			<th class='total_hours'><b>Total H (hrs)</b></th>
			<th class='total_percentage_hours'><b>NA/Hours (%)</b></th>
		</tr>
        {% for employee in employees %}
		<tr>
			<td class='ce'><a href='/ce_availability/list/{{employee.id}}/All/All/{{year}}/{{month}}/All/' title="Check {{employee.first_name}}'s unavailabilites of this month">{{employee.last_name}}, {{employee.first_name}}</a></td>
			<td class='ce'>{% with employee.employee.location.location as loc %}{{loc}}{% endwith %}</td>
			{% for day in month_range %}
				{% for usr, value in employee_day_nahours.items%}
	        		 {% ifequal usr employee.username%}
						{% for dy, hrs in value.items%}
							{% ifequal dy day%}
								{% for h in hrs %}
									{% if h %}
										{% for usr_, value in employee_day_category.items%}
												{% ifequal usr_ employee.username%}
													{% for dy_, category in value.items%}
														{% ifequal dy_ day%}
															<td class='{{category}}'>
																<a class="{{category}}_link" title="Check {{employee.first_name}}'s unavailabilites of this day" target="popup" onclick="window.open('/ce_availability/registers/{{employee.id}}/{{year}}/{{month}}/{{day}}' ,'name','width=1200,height=480')">
																{{h}}
																</a>
															</td>
														{%endifequal%}
													{% endfor%}
												{%endifequal%}
											{%endfor%}
									{% else %}
										{% for usr_, value in employee_day_kindofday.items%}
											{% ifequal usr_ employee.username%}
												{% for dy_, kind in value.items%}
													{% ifequal dy_ day%}
														{% ifequal kind "Festive"%}
															<td class='day_festive'>
																	<a class="festive_link" target="popup" onclick="window.open('/ce_availability/day_info/{{employee.id}}/{{year}}/{{month}}/{{day}}' ,'name','width=600,height=200')">
																	F
																	</a>
															</td>
														{%else%}
															{% for num_day, kind_day in day_of_week.items%}
																{% ifequal num_day day%}
																	{%comment%}
																	{% ifequal kind_day "Festive"%}
																	<td class='day_festive_soft'></td>
																	{%endifequal%}
																	{%endcomment%}
																	{% ifequal kind_day "Weekend"%}
																	<td class='day_weekend_soft'></td>
																	{%endifequal%}
																	{% ifequal kind_day "WorkingDay"%}
																		{% ifequal kind "Intensive" %}
																		<td class='intensive'>{{h}}</td>
																		{% else %}
																		<td class='non-na'>{{h}}</td>
																		{%endifequal%}
																	{%endifequal%}
																	{% ifequal kind_day "Intensive"%}
																	<td class='intensive'>{{h}}</td>
																	{%endifequal%}
																{%endifequal%}
															{% endfor %}
														{%endifequal%}
													{%endifequal%}
												{%endfor%}
											{%endifequal%}
										{%endfor%}
									{%endif%}
								{%endfor%}
							{%endifequal%}
						{% endfor %}
					{%endifequal%}
				{% endfor %}
            {% endfor %}

			{% for usr, hours in employee_nahours_month.items %}
				{% ifequal usr employee.username%}
					<td class='total_na_hours'><b>{{hours}}</b></td>
				{%endifequal%}
			{% endfor %}
			
			{% for usr, hours in employee_total_hours_month.items %}
				{% ifequal usr employee.username%}
					<td class='total_hours'><b>{{hours}}</b></td>
				{%endifequal%}
			{% endfor %}
			
			{% for usr, value in percentage.items %}
				{% ifequal usr employee.username%}
					<td class='total_percentage_hours'><b>{{value}}</b></td>
				{%endifequal%}
			{% endfor %}

		</tr>
            	{% endfor %}
	</table>

	{%endifequal%}



	{%comment%}
	<script>
		$("#content").hide();

		$("#loadLink").click(function() {
			$("#content").hide();
	    		$("#content").attr('src', 'http://mysite.com/newpage.html');
		});

		$("#content").load(function() {
		    $(this).slideDown();
		});	
	</script>

	<iframe id="content" name="content" src="https://www.w3schools.com">
		<p>Your browser does not support iframes.</p>
	</iframe>
	{%endcomment%}
	
	{%ifequal mode "percentage"%}	
	
	
	<table class="table_calendar">
		<tr>
			<th class='ce_header'><b>Employee</b></th>
			<th class='location_header'><b>Location</b></th>
			{% for day in month_range %}
				{% for num_day, kind_day in day_of_week.items%}
					{% ifequal num_day day%}
						{% ifequal kind_day "Weekend"%}
						<th class='day_weekend'>{{day}}</th>
						{%endifequal%}
						{% ifequal kind_day "Festive"%}
							<th class='day_festive'>{{day}}</th>
						{%endifequal%}
						{% ifequal kind_day "WorkingDay"%}
						<th class='day_laborable'>{{day}}</th>
						{%endifequal%}
						{%ifequal kind_day "Intensive" %}
						<th class='day_intensive'>{{day}}</th>
						{%endifequal%}
					{%endifequal%}
				{% endfor %}
			{% endfor %}
			<th class='total_na_hours'><b>Total NA (hrs)</b></th>
			<th class='total_hours'><b>Total H (hrs)</b></th>
			<th class='total_percentage_hours'><b>NA/Hours (%)</b></th>
		</tr>
		{% for employee in employees %}
		<tr>
			<td class='ce'><a href='/ce_availability/list/{{employee.id}}/All/All/{{year}}/{{month}}/All/' title="Check {{employee.first_name}}'s unavailabilites of this month">{{employee.last_name}}, {{employee.first_name}}</a></td>
			<td class='ce'>{% with employee.employee.location.location as loc %}{{loc}}{% endwith %}</td>
			{% for day in month_range %}
				{% for usr, value in employee_day_nahours_percent.items%}
					{% ifequal usr employee.username%}
						{% for dy, hrs in value.items%}
							{% ifequal dy day%}
								{% for h in hrs %}
										{% ifnotequal h "1.00"%}
											{% for usr_, value in employee_day_category.items%}
												{% ifequal usr_ employee.username%}
													{% for dy_, category in value.items%}
														{% ifequal dy_ day%}
															
															<td class='{{category}}'>
																<a class="{{category}}_link" title="Check {{employee.first_name}}'s unavailabilites of this day" target="popup" onclick="window.open('/ce_availability/registers/{{employee.id}}/{{year}}/{{month}}/{{day}}' ,'name','width=1200,height=480')">
																{{h}}
																</a>
															</td>
														{%endifequal%}
													{% endfor%}
												{%endifequal%}
											{%endfor%}
										{% else %}
											{% for usr_, value in employee_day_kindofday.items%}
												{% ifequal usr_ employee.username%}
													{% for dy_, kind in value.items%}
														{% ifequal dy_ day%}
															{% ifequal kind "Festive"%}
																<td class='day_festive'>
																	<a class="festive_link" target="popup" onclick="window.open('/ce_availability/day_info/{{employee.id}}/{{year}}/{{month}}/{{day}}' ,'name','width=600,height=200')">
																	F
																	</a>
																</td>
															{%else%}
																{% for num_day, kind_day in day_of_week.items%}
																	{% ifequal num_day day%}
																		{%comment%}
																		{% ifequal kind_day "Festive"%}
																		<td class='day_festive_soft'></td>
																		{%endifequal%}
																		{%endcomment%}
																		{% ifequal kind_day "Weekend"%}
																		<td class='day_weekend_soft'></td>
																		{%endifequal%}
																		{% ifequal kind_day "WorkingDay"%}
																			{% ifequal kind "Intensive" %}
																			<td class='intensive'>{{1}}</td>
																			{% else %}
																			<td class='non-na'>{{1}}</td>
																			{%endifequal%}
																		{%endifequal%}
																		{% ifequal kind_day "Intensive"%}
																		<td class='intensive'>1</td>
																		{%endifequal%}
																	{%endifequal%}
																{% endfor %}
															{%endifequal%}
														{%endifequal%}
													{%endfor%}
												{%endifequal%}
											{%endfor%}
										{% endifnotequal%}
									{%endfor%}
								
							
							{%endifequal%}
						{% endfor %}
					{%endifequal%}
				{% endfor %}
			{% endfor %}

			{% for usr, hours in employee_nahours_month.items %}
				{% ifequal usr employee.username%}
					<td class='total_na_hours'><b>{{hours}}</b></td>
				{%endifequal%}
			{% endfor %}
			{% for usr, hours in employee_total_hours_month.items %}
				{% ifequal usr employee.username%}
					<td class='total_hours'><b>{{hours}}</b></td>
				{%endifequal%}
			{% endfor %}
			{% for User, value in percentage.items %}
				{% ifequal User employee.username%}
					<td class='total_percentage_hours'><b>{{value}}</b></td>
				{%endifequal%}
			{% endfor %}
		</tr>
	{% endfor %}
	</table>

	{%endifequal%}

	{% ifequal user_type "SDM" %}
	<br>
	<p>Employee count: <b>{{employee_count}}</b></p>
	{%endifequal%}

	{%endifequal%}



 <!-- 
*************************************************************
*					CALENDARI PER CEs						*
*************************************************************
-->

	{% ifequal user_type "CE" %}
	<br>
 <!-- 
>>>>>>>>>>  Mode: hours
-->
	{%ifequal mode "hours"%}

		<table class="table_calendar_ce">
			<!-- INICI - Capcelera calendari. Conté dies de la setmana -->
			<tr>
				<th class=day_laborable>Mon</th>
				<th class=day_laborable>Tue</th>
				<th class=day_laborable>Wed</th>
				<th class=day_laborable>Thu</th>
				<th class=day_intensive>Fri</th>
				<th class=day_weekend>Sat</th>
				<th class=day_weekend>Sun</th>
			</tr>
			<!-- INICI - FI - Capcelera calendari -->
			<tr>
			<td colspan=7 style=height:16px;></td>
			</tr>

			<!-- INICI - Taula calendari --> 
			<!-- Mirem el primer dia del mes quin dia de la setmana és -->
			{% for day, dw in day_of_the_week.items%}
				{%ifequal dw 0%}
					<tr>
				{%endifequal%}
				{%ifequal day 1%}
					{%for i in ''|center:dw %}
						<td></td>
					{%endfor%}
					{%if dw < 5%}

						{% for employee in employees %}
							{% for usr, value in employee_day_nahours.items%}
								{% ifequal usr employee.username%}
									{% for dy, hrs in value.items%}
										{% ifequal dy day%}
											{% for h in hrs %}
												{% if h %}
													{% for usr_, value in employee_day_category.items%}
															{% ifequal usr_ employee.username%}
																{% for dy_, category in value.items%}
																	{% ifequal dy_ day%}
																					<td class='{{category}}'> 
																						<div class="calendar_day">{{day}}</div>
																						<a class="{{category}}_link" title="Check {{employee.first_name}}'s unavailabilites of this day" target="popup" onclick="window.open('/ce_availability/registers/{{employee.id}}/{{year}}/{{month}}/{{day}}' ,'name','width=1200,height=480')">
																						{{h}}
																						</a>
																					</td>
																	{%endifequal%}
																{% endfor%}
															{%endifequal%}
														{%endfor%}
												{% else %}
													{% for usr_, value in employee_day_kindofday.items%}
														{% ifequal usr_ employee.username%}
															{% for dy_, kind in value.items%}
																{% ifequal dy_ day%}
																	{% ifequal kind "Festive"%}
																		<td class='day_festive'>
																			<div class="calendar_day">{{day}}</div>
																			<a class="festive_link" target="popup" onclick="window.open('/ce_availability/day_info/{{employee.id}}/{{year}}/{{month}}/{{day}}' ,'name','width=600,height=200')">
																			F
																			</a>
																		</td>
																	{%else%}
																		{% for num_day, kind_day in day_of_week.items%}
																			{% ifequal num_day day%}
																				{%comment%}
																				{% ifequal kind_day "Festive"%}
																					<td class='day_festive'>
																					<div class="calendar_day">{{day}}</div>
																					</td>
																				{%endifequal%}
																				{%endcomment%}
																				{% ifequal kind_day "Weekend"%}
																					<td class='day_weekend_soft'>
																					<div class="calendar_day">{{day}}</div>
																					</td>
																				{%endifequal%}
																				{% ifequal kind_day "WorkingDay"%}
																					<td class='non-na'>
																					<div class="calendar_day">{{day}}</div>
																					{{h}}
																					</td>
																				{%endifequal%}
																				{% ifequal kind_day "Intensive"%}
																					<td class='intensive'>
																					<div class="calendar_day">{{day}}</div>
																					{{h}}
																					</td>
																				{%endifequal%}
																			{%endifequal%}
																		{% endfor %}
																	{%endifequal%}
																{%endifequal%}
															{%endfor%}
														{%endifequal%}
													{%endfor%}
												{%endif%}
											{%endfor%}
										{%endifequal%}
									{% endfor %}
								{%endifequal%}
							{% endfor %}
						{% endfor %}


					{%endif%}
					{%if dw >= 5%}
						<td class=day_weekend_soft>
							<div class="calendar_day">{{day}}</div>
						</td>
					{%endif%}
				{%endifequal%}
				{%ifnotequal day 1%}
					{%if dw == 6 or dw == 5%}

						<td class=day_weekend_soft><div class="calendar_day">{{day}}</div></td>

					{%else%}
						<!--
						<td class=non-na><div class="calendar_day">{{day}}</div></td>
						-->
						{% for employee in employees %}
							{% for usr, value in employee_day_nahours.items%}
								{% ifequal usr employee.username%}
									{% for dy, hrs in value.items%}
										{% ifequal dy day%}
											{% for h in hrs %}
												{% if h %}
													{% for usr_, value in employee_day_category.items%}
															{% ifequal usr_ employee.username%}
																{% for dy_, category in value.items%}
																	{% ifequal dy_ day%}
																		<td class='{{category}}'> 
																			<div class="calendar_day">{{day}}</div>
																			<a class="{{category}}_link" title="Check {{employee.first_name}}'s unavailabilites of this day" target="popup" onclick="window.open('/ce_availability/registers/{{employee.id}}/{{year}}/{{month}}/{{day}}' ,'name','width=1200,height=480')">
																			{{h}}
																			</a>
																		</td>
																	{%endifequal%}
																{% endfor%}
															{%endifequal%}
														{%endfor%}
												{% else %}
													{% for usr_, value in employee_day_kindofday.items%}
														{% ifequal usr_ employee.username%}
															{% for dy_, kind in value.items%}
																{% ifequal dy_ day%}
																	{% ifequal kind "Festive"%}
																		<td class='day_festive'>
																			<div class="calendar_day">{{day}}</div>
																			<a class="festive_link" target="popup" onclick="window.open('/ce_availability/day_info/{{employee.id}}/{{year}}/{{month}}/{{day}}' ,'name','width=600,height=200')">
																			F
																			</a>
																		</td>
																	{%else%}
																		{% for num_day, kind_day in day_of_week.items%}
																			{% ifequal num_day day%}
																				{%comment%}
																				{% ifequal kind_day "Festive"%}
																					<td class='day_festive'>
																					<div class="calendar_day">{{day}}</div>
																					<a class="festive_link" target="popup" onclick="window.open('/ce_availability/day_info/{{employee.id}}/{{year}}/{{month}}/{{day}}' ,'name','width=600,height=200')">
																					F
																					</a>
																					</td>
																				{%endifequal%}
																				{%endcomment%}
																				{% ifequal kind_day "Weekend"%}
																					<td class='day_weekend_soft'>
																					<div class="calendar_day">{{day}}</div>
																					</td>
																				{%endifequal%}
																				{% ifequal kind_day "WorkingDay"%}
																					{% ifequal kind "Intensive" %}
																					<td class='intensive'>
																					<div class="calendar_day">{{day}}</div>
																					{{h}}
																					</td>
																					{% else %}
																					<td class='non-na'>
																					<div class="calendar_day">{{day}}</div>
																					{{h}}
																					</td>
																					{%endifequal%}
																				{%endifequal%}
																				{% ifequal kind_day "Intensive"%}
																					<td class='intensive'>
																					<div class="calendar_day">{{day}}</div>
																					{{h}}
																					</td>
																				{%endifequal%}
																			{%endifequal%}
																		{% endfor %}
																	{%endifequal%}
																{%endifequal%}
															{%endfor%}
														{%endifequal%}
													{%endfor%}
												{%endif%}
											{%endfor%}
										{%endifequal%}
									{% endfor %}
								{%endifequal%}
							{% endfor %}
						{% endfor %}
					{%endif%}
				{%endifnotequal%}
				{%ifequal dw 6%}
					</tr>

				{%endifequal%}
			{% endfor %}

	</table>
	<!-- FI - Taula calendari --> 	

	{%endifequal%}
 <!-- 
>>>>>>>>>>  Mode: percentage
-->
	{%ifequal mode "percentage"%}
		<table class="table_calendar_ce">
			<!-- INICI - Capcelera calendari. Conté dies de la setmana -->
			<tr>
				<th class=day_laborable>Mon</th>
				<th class=day_laborable>Tue</th>
				<th class=day_laborable>Wed</th>
				<th class=day_laborable>Thu</th>
				<th class=day_intensive>Fri</th>
				<th class=day_weekend>Sat</th>
				<th class=day_weekend>Sun</th>
			</tr>
			<!-- INICI - FI - Capcelera calendari -->
			<tr>
			<td colspan=7 style=height:16px;></td>
			</tr>

			<!-- INICI - Taula calendari --> 
			<!-- Mirem el primer dia del mes quin dia de la setmana és -->
			{% for day, dw in day_of_the_week.items%}
				{%ifequal dw 0%}
					<tr>
				{%endifequal%}
				{%ifequal day 1%}
					{%for i in ''|center:dw %}
						<td></td>
					{%endfor%}

				{%endifequal%}

					{%if dw == 6 or dw == 5%}
						<td class=day_weekend_soft><div class="calendar_day">{{day}}</div></td>
					{%else%}
						<!--
						<td class=non-na><div class="calendar_day">{{day}}</div></td>
						-->
						{% for employee in employees %}
							{% for usr, value in employee_day_nahours_percent.items%}
								{% ifequal usr employee.username%}
									{% for dy, hrs in value.items%}
										{% ifequal dy day%}
											{% for h in hrs %}
												{% ifnotequal h "1.00"%}
													{% for usr_, value in employee_day_category.items%}
															{% ifequal usr_ employee.username%}
																{% for dy_, category in value.items%}
																	{% ifequal dy_ day%}
																		<td class='{{category}}'> 
																			<div class="calendar_day">{{day}}</div>
																			<a class="{{category}}_link" title="Check {{employee.first_name}}'s unavailabilites of this day" target="popup" onclick="window.open('/ce_availability/registers/{{employee.id}}/{{year}}/{{month}}/{{day}}' ,'name','width=1200,height=480')">
																			{{h}}
																			</a>
																		</td>
																	{%endifequal%}
																{% endfor%}
															{%endifequal%}
														{%endfor%}
												{% else %}
													{% for usr_, value in employee_day_kindofday.items%}
														{% ifequal usr_ employee.username%}
															{% for dy_, kind in value.items%}
																{% ifequal dy_ day%}
																	{% ifequal kind "Festive"%}
																		<td class='day_festive'>
																				<div class="calendar_day">{{day}}</div>										
																				<a class="festive_link" target="popup" onclick="window.open('/ce_availability/day_info/{{employee.id}}/{{year}}/{{month}}/{{day}}' ,'name','width=600,height=200')">
																				F
																				</a>
																		</td>
																	{%else%}
																		{% for num_day, kind_day in day_of_week.items%}
																			{% ifequal num_day day%}
																				{%comment%}
																				{% ifequal kind_day "Festive"%}
																					<td class='day_festive'>
																					<div class="calendar_day">{{day}}</div>
																					</td>
																				{%endifequal%}
																				{%endcomment%}
																				{% ifequal kind_day "Weekend"%}
																					<td class='day_weekend_soft'>
																					<div class="calendar_day">{{day}}</div>
																					</td>
																				{%endifequal%}
																				{% ifequal kind_day "WorkingDay"%}
																					{% ifequal kind "Intensive" %}
																					<td class='intensive'>
																					<div class="calendar_day">{{day}}</div>
																					1
																					</td>
																					{% else %}
																					<td class='non-na'>
																					<div class="calendar_day">{{day}}</div>
																					1
																					</td>
																					{%endifequal%}
																				{%endifequal%}
																				{% ifequal kind_day "Intensive"%}
																					<td class='intensive'>
																					<div class="calendar_day">{{day}}</div>
																					1
																					</td>
																				{%endifequal%}
																			{%endifequal%}
																		{% endfor %}
																	{%endifequal%}
																{%endifequal%}
															{%endfor%}
														{%endifequal%}
													{%endfor%}
												{%endifnotequal%}
											{%endfor%}
										{%endifequal%}
									{% endfor %}
								{%endifequal%}
							{% endfor %}
						{% endfor %}
					{%endif%}

				{%ifequal dw 6%}
					</tr>

				{%endifequal%}
			{% endfor %}

	</table>
	{%endifequal%}
			<br><br>
			{% for usr, hours in employee_nahours_month.items %}
				<p>Total NA hours in the month (NA): 	<b>{{hours}}</b></p>
				<!--	<td class='total_na_hours'><b>{{hours}}</b></td> -->
			{% endfor %}
			
			{% for usr, hours in employee_total_hours_month.items %}
				<p>Total hours in the month (H): 		<b>{{hours}}</b></p>
				<!--		<td class='total_hours'><b>{{hours}}</b></td> -->
			{% endfor %}
			
			{% for usr, value in percentage.items %}
				<p>Percentage NA/H: 					<b>{{value}}</b>%</p>
				<!--		<td class='total_percentage_hours'><b>{{value}}</b></td> -->
			{% endfor %}

	{%endifequal%}



	<hr>
	<div class=calendar_info>
	<a href="{{prev_url}}" title="Previous month"><<
		<span class="glyphicon glyphicon-menu-left">
		</span>
	</a> Year: {{ year }}, Month: {{monthname}}  
	<a href="{{next_url}}" title="Next month">>>
		<span class="glyphicon glyphicon-menu-right">
		</span>
	</a>
	</div>

	<hr>
		<table class="table_legend">

                <tr>
                        <th class='day_intensive'>I</th>
                        <td class='non-na'>Intensive</td>
                </tr>
                <tr>
                        <th class='day_festive'>F</th>
                        <td class='non-na'>Festive</td>
                </tr>
				<tr>
                        <td class='medical'>M</td>
                        <td class='non-na'>Medical</td>
                </tr>
				<tr>
                        <td class='rest'>R</td>
                        <td class='non-na'>Rest</td>
                </tr>

				<tr>
                        <td class='professional-tasks'>PT</td>
                        <td class='non-na'>Professional Tasks</td>
                </tr>

				<tr>
                        <td class='training'>TR</td>
                        <td class='non-na'>Training</td>
                </tr>
            </table>
<br>

{% endblock %}
