{% extends "ce_availability/base.html" %}

{% block content %}
	<div class=calendar_info><a href="{{prev_url}}" title="Previous month"><<</a> Year: {{ year }}, Month: {{monthname}} <a href="{{next_url}}" title="Next month">>></a></div>
	<table class="table_calendar">
		<tr>
			<th class='ce'><b>Employee</b></th>
			{% for day in month_range %}
				{% for num_day, kind_day in day_of_week.items%}
					{% ifequal num_day day%}
						{% ifequal kind_day "F"%}
						<th class='day_weekend'>{{day}}</th>
						{%endifequal%}
						{% ifequal kind_day "L"%}
						<th class='day_laborable'>{{day}}</th>
						{%endifequal%}
						{%ifequal kind_day "I" %}
						<th class='day_intensive'>{{day}}</th>
						{%endifequal%}
					{%endifequal%}
				{% endfor %}
			{% endfor %}
			<th class='total_hours'><b>TOTAL</b></th>
		</tr>
            	{% for employee in employees %}
		<tr>
			<td class='ce'>{{employee.last_name}}, {{employee.first_name}}</td>
			{% for day in month_range %}

				{% for usr, value in data.items%}
	        		        {% ifequal usr employee.username%}
						{% for dy, hrs in value.items%}
							{% ifequal dy day%}

								
								{%comment%}
								{%endcomment%}
								{% for h in hrs %}
									{% if h %}
										<td class='na'>{{h}}</td>
									{% else %}
										{% for num_day, kind_day in day_of_week.items%}
                                        					{% ifequal num_day day%}
                                                					{% ifequal kind_day "F"%}
                                                					<td class='day_weekend_soft'></td>
											{%endifequal%}
											{% ifequal kind_day "L"%}
											<td class='non-na'>{{h}}</td>
                                                					{%endifequal%}
											{% ifequal kind_day "I"%}
                                                                                        <td class='non-na'>{{h}}</td>
                                                                                        {%endifequal%}
                                        					{%endifequal%}
                                						{% endfor %}
									{%endif%}
								{%endfor%}
							
							{%endifequal%}
						{% endfor %}
					{%endifequal%}
				{% endfor %}
                        {% endfor %}

			<td class='total_hours'>
			{% for usr, hours in sum_hours.items %}
				{% ifequal usr employee.username%}
					{{hours}}
				{%endifequal%}
			{% endfor %}
			<b>
			
			</b>
			</td>
		</tr>
            	{% endfor %}
	</table>
{% endblock %}
