{% extends "ce_availability/base.html" %}

{% block content %}
	<div class=change_pwd_form>
	<form method="post">
		{% csrf_token %}
		{%comment%}
		{{ form.as_p }}
		{{ form.non_field_errors }}
		{%endcomment%}
		<div class="fieldInputForm">
			<div class="fieldForm">
                        <label for="{{ form.unavailability.id_for_label }}">Old Password:</label>
                        <div class="input_field"> {{ form.old_password }} </div>
        	        </div>

			<div class="fieldForm">
                        <label for="{{ form.unavailability.id_for_label }}">New Password:</label>
                        <div class="input_field"> {{ form.new_password1 }} </div>
	                </div>

			<div class="fieldForm">
                        <label for="{{ form.unavailability.id_for_label }}">Confirm Password:</label>
                        <div class="input_field"> {{ form.new_password2 }} </div>
                	</div>
		</div>


		<div class="error_field-chg-pwd">
                                {% if form.old_password.errors %}
                                        {% for error in form.old_password.errors %}
                                        <div class="form_error_chg-pwd"> {{ error|escape }}</div>
                                        {% endfor %}
                                {% endif %}
                                {% if form.new_password1.errors %}
                                        {% for error in form.new_password1.errors %}
                                        <div class="form_error_chg-pwd"> {{ error|escape }}</div>
                                        {% endfor %}
                                {% endif %}
                                {% if form.new_password2.errors %}
                                        {% for error in form.new_password2.errors %}
                                        <div class="form_error_chg-pwd"> {{ error|escape }}</div>
                                        {% endfor %}
                                {% endif %}
                 </div>



  		<button type="submit" class="button-chg-pwd">Save changes</button>

	        <span class="helptext">{{ form.help_text }}</span>

	</div>
	</form>
{% endblock %}

