{% extends "ce_availability/base.html" %}

{% block content %}
    {% if user.is_authenticated %}
	{% comment %}
        <h3>New Unavailability</h3>
	{% endcomment%}
        <p>Please introduce the details of your new unavailability:</p>
	<div class=unavailability_form>	
		<form id="unavailability_form" method="POST" class="post-form" novalidate>{% csrf_token %}
		{% comment %}
		<script type="text/javascript" src="/admin/jsi18n/"></script>
		<script type="text/javascript" src="/static/admin/js/core.js"></script>
		<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js">        </script>
		<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
		<script type="text/javascript" src="/static/admin/js/actions.min.js"></script>
		<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
		<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
		{{ form.media }}
		{% endcomment%}

		<div class="fieldForm_insert_register">
			<label for="{{ form.unavailability.id_for_label }}">CE:</label>
			<div class="input_field_insert"> {{ form.user }} </div>
			<div class="error_field">
				{% if form.user.errors %}
					{% for error in form.user.errors %}
						<div class="form_error"> {{ error|escape }}</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>

		<div class="fieldForm_insert_register">
			<label for="{{ form.unavailability.id_for_label }}">Unavailability:</label>
			<div class="input_field_insert"> {{ form.unavailability }} </div>
			<div class="error_field">
				{% if form.unavailability.errors %}
					{% for error in form.unavailability.errors %}
						<div class="form_error"> {{ error|escape }}</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>

		
		<div class="fieldForm_insert_register">
			<label for="{{ form.hours.id_for_label }}">Hours:</label>
			<div class="input_field_insert_hours"> {{ form.hours }} </div>
			{{ form.hidden_type_hours_input.as_hidden }}
			<div class="fieldForm">
				<div class="radio_field_day">
				<input type="radio" id="radio_hours" name="type_hours_input" value="insert" checked="checked" onclick="check_hours_input(this.value)"> Insert<br>
				</div>
				<div class="radio_field_day">
				<input type="radio" id="radio_whole_day" name="type_hours_input" value="whole_day" onclick="check_hours_input(this.value)"> Whole day<br>
				</div>
			</div>
			<div class="error_field">
				{% if form.hours.errors  %}
					{% for error in  form.hours.errors %}
						<div class="form_error"> {{ error|escape }}</div>
					{% endfor %}
				{% endif %}
			</div>

		</div>

		{{ form.hidden_type_date_input.as_hidden }}
		<div class="fieldForm">
			<div class="radio_field">
			<input type="radio" id="type_date_input" name="type_date_input" value="single_date" checked="checked" onclick="check_date_input(this.value)"> Single Date<br>
			</div>
		</div>

		<div class="fieldForm_insert_register">
			<label for="{{ form.date.id_for_label }}">Date:</label>
			<div class="input_field_insert"> {{ form.date }} </div>
			<div class="error_field">
				{% if form.date.errors  %}
					{% for error in form.date.errors  %}
					<div class="form_error"> {{ error|escape }}</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
		

		<div class="fieldForm">
			<div class="radio_field">
			<input width=20px type="radio" id="type_date_input" name="type_date_input" value="range_date" onclick="check_date_input(this.value)"> Date Range<br>
			</div>
		</div>
		
		<div class="fieldForm_insert_register">
			<label for="{{ form.start_date.id_for_label }}">Start Date:</label>
			<div class="input_field_insert"> {{ form.start_date }} </div>
			<div class="error_field">
				{% if form.start_date.errors  %}
					{% for error in form.start_date.errors  %}
					<div class="form_error"> {{ error|escape }}</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
		
		<div class="fieldForm_insert_register">
			<label for="{{ form.end_date.id_for_label }}">End Date:</label>
			<div class="input_field_insert"> {{ form.end_date }} </div>
			<div class="error_field">
				{% if form.end_date.errors  %}
					{% for error in form.end_date.errors  %}
					<div class="form_error"> {{ error|escape }}</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
		
		
<!--
<p id="radio_value_date"></p>
<p id="radio_value_hours"></p>
-->

<script>

<!-- Control mode d'entrada de data: single_date OR range_date-->

var type_date_input = document.getElementById('type_date_input').value;

//document.getElementById("radio_value_date").innerHTML=type_date_input;

date_input_mode(type_date_input);

function date_input_mode(type_date_input){
	//{{form.type_date_input}}=type_date_input
	document.getElementById('id_hidden_type_date_input').value=type_date_input;
	if (type_date_input=="single_date"){
		document.getElementById("id_start_date").disabled = true;
		document.getElementById("id_end_date").disabled = true;
		document.getElementById("id_date").disabled = false;
	}
	else if (type_date_input=="range_date"){
		document.getElementById("id_start_date").disabled = false;
		document.getElementById("id_end_date").disabled = false;
		document.getElementById("id_date").disabled = true;
	}
}
function check_date_input(type_date_input) {
	//document.getElementById("radio_value_date").innerHTML=type_date_input;
	date_input_mode(type_date_input);
}
<!-- ################################################### -->
<!-- Control mode d'entrada d'hores: manual OR whole_day -->
var type_hours_input = document.getElementById('type_hours_input').value;
//document.getElementById("radio_value_hours").innerHTML=type_hours_input;

type_hours_input_mode(type_hours_input);

function type_hours_input_mode(type_hours_input){
	//{{form.type_date_input}}=type_date_input
	document.getElementById('id_hidden_type_hours_input').value=type_hours_input;
	if (type_hours_input=="insert"){
		document.getElementById("id_hours").disabled = false;
	}
	else if (type_hours_input=="whole_day"){
		document.getElementById("id_hours").disabled = true;
		document.getElementById("id_hours").value = "";
	}
}
function check_hours_input(type_hours_input) {
	//document.getElementById("radio_value_hours").innerHTML=type_hours_input;
	type_hours_input_mode(type_hours_input);
}

</script>


		<div class="fieldForm">
                    	<label for="{{ form.comments.id_for_label }}">Comments:</label>
                    	<div class="input_field_insert"> {{ form.comments }} </div>
			<div class="error_field">
				{% if form.comments.errors  %}
					{% for error in form.comments.errors  %}
					<div class="form_error"> {{ error|escape }}</div>
					{% endfor %}
				{% endif %}
			</div>
                </div>
		<div class="form_error"> {{ form.non_field_errors }} </div>


	</div>
	<button type="submit" class="save btn btn-default">Save</button>
<br>

<!--
<p>
	<b>(*)</b> Inserts a new NA register for the whole day for every working day of the defined range. No other unavailabilities should be registered in that range.
</p>
-->
<!--
<hr>
The kind of unavailabilities are the following:
<br><br>
<ul>
	<li>Administrative:</li>
	<li>Medical:</li>
	<li>Meeting:</li>
	<li>NonStop:</li>
	<li>Other:</li>
	<li>Preparation:</li>
	<li>Rest Time:</li>
	<li>Training:</li>
	<li>Vacation:</li>
</ul>
-->

        </form>

    {% else %}
        <p>Welcome to the <b>CE Availability tool</b>. Please <a href="login">login</a> to add, view and edit yout unavailabilities.</p>
    {% endif %}
    <div id="content">
    </div>
	<span id="result"></span>
{% endblock %}

