{% load staticfiles %}
<html>
    <head>
        <title>CE Availability</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        {% comment%}
        <script type="text/javascript" src="/my_admin/jsi18n/"></script>
        <script type="text/javascript" src="/media/admin/js/core.js"></script>
        {% endcomment %}

        {% load static %}
</head>

<div class="content container">
<br>
{% block content %}
	<h4>New Calendar Event</h4>


	<form method="POST" class="post-form" novalidate>{% csrf_token %}

	<div class="insert_event">	

		<div class="fieldForm">
                <label for="{{ form.location.id_for_label }}">Location:</label>
                <div class="input_field"> {{ form.location_selector }} </div>
                        <div class="error_field">
                                {% if form.location_selector.errors %}
                                        {% for error in form.location_selector.errors %}
                                        <div class="form_error"> {{ error|escape }}</div>
                                        {% endfor %}
                                {% endif %}
                        </div>
                </div>

                <div class="fieldForm">
                <label for="{{ form.kindofday.id_for_label }}">Kind of Day:</label>
                <div class="input_field"> {{ form.kindofday }} </div>
                        <div class="error_field">
                                {% if form.kindofday.errors %}
                                        {% for error in form.kindofday.errors %}
                                        <div class="form_error"> {{ error|escape }}</div>
                                        {% endfor %}
                                {% endif %}
                        </div>
                </div>

		{{ form.hidden_type_date_input.as_hidden }}
		<div class="fieldForm">
			<div class="radio_field">
			<input type="radio" id="type_date_input" name="type_date_input" value="single_date" checked="checked" onclick="check(this.value)"> Single Date<br>
			</div>
		</div>

                <div class="fieldForm">
                <label for="{{ form.start_date.id_for_label }}">Date:</label>
                <div class="input_field"> {{ form.date_selector }} </div>
                        <div class="error_field">
                                {% if form.date_selector %}
                                        {% for error in form.date_selector.errors %}
                                        <div class="form_error"> {{ error|escape }}</div>
                                        {% endfor %}
                                {% endif %}
                        </div>
                </div>


		<div class="fieldForm">
			<div class="radio_field">
			<input width=20px type="radio" id="type_date_input" name="type_date_input" value="range_date" onclick="check(this.value)"> Date Range <br>
			</div>
		</div>


                <div class="fieldForm">
                <label for="{{ form.start_date.id_for_label }}">Start date:</label>
                <div class="input_field"> {{ form.start_date }} </div>
                        <div class="error_field">
                                {% if form.start_date %}
                                        {% for error in form.start_date.errors %}
                                        <div class="form_error"> {{ error|escape }}</div>
                                        {% endfor %}
                                {% endif %}
                        </div>
                </div>

                <div class="fieldForm">
                <label for="{{ form.end_date.id_for_label }}">Finish date:</label>
                <div class="input_field"> {{ form.end_date }} </div>
                        <div class="error_field">
                                {% if form.end_date.errors %}
                                        {% for error in form.end_date.errors %}
                                        <div class="form_error"> {{ error|escape }}</div>
                                        {% endfor %}
                                {% endif %}
                        </div>
                </div>

<p id="radio_value"></p>
<script>

var type_date_input = document.getElementById('type_date_input').value;
//document.getElementById("radio_value").innerHTML=type_date_input;

date_input_mode(type_date_input);

function date_input_mode(type_date_input){
	//{{form.type_date_input}}=type_date_input
	document.getElementById('id_hidden_type_date_input').value=type_date_input;
	if (type_date_input=="single_date"){
		document.getElementById("id_start_date").disabled = true;
		document.getElementById("id_end_date").disabled = true;
		document.getElementById("id_date_selector").disabled = false;
	}
	else if (type_date_input=="range_date"){
		document.getElementById("id_start_date").disabled = false;
		document.getElementById("id_end_date").disabled = false;
		document.getElementById("id_date_selector").disabled = true;
	}
}
function check(type_date_input) {
	//document.getElementById("radio_value").innerHTML=type_date_input;
	date_input_mode(type_date_input);
}
</script>

            <div class="fieldForm">
                <label for="{{ form.comment.id_for_label }}">Comments:</label>
                <div class="input_field"> {{ form.comment }} </div>
                        <div class="error_field">
                                {% if form.comment.errors %}
                                        {% for error in form.comment.errors %}
                                        <div class="form_error"> {{ error|escape }}</div>
                                        {% endfor %}
                                {% endif %}
                        </div>
                </div>
			</div>
		
    <hr>

                <button type="submit" class="update-button">Save</button>
		</form>
		<br>
		{% if request.session.url %}
			<p><a href={{ request.session.url }}>Back</a></p>
		{% endif %}
		
{% endblock %}
</div>