{% load staticfiles %}
<html>
    <head>
        <title>CE Availability</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        {% comment%}
        <script type="text/javascript" src="/my_admin/jsi18n/"></script>
        <script type="text/javascript" src="/media/admin/js/core.js"></script>
        {% endcomment %}

        {% load static %}
    </head>


<script>
$("tr").click(function(){
    $(this).addClass("selected").siblings().removeClass("selected");
});
</script>

<div class="content container">
<br>


<p>Register details for <i>{{employee.first_name}} {{employee.last_name}}</i> at {{day}}/{{month}}/{{year}}:<p>

	{% comment %}
	<h3>Unavailabilities</h3><br>
	{% endcomment %}
	{% if registers %}
		<table class="table_registers">
			<tr>
				<th class="ID">
                                        ID
                                </th>
				
                                <th class="ce">
					CE
				</th>
				<th class="start">
					Date
				</th>
				{% comment %}
                                <th class="finish">
					Finish
				</th>
				{% endcomment %}
                                <th class="hours">
					Hours
				</th>
                                <th class="unavailability">
					Unavailability
				</th>
                                <th class="category">
					Category
				</th>
                                <th class="comments" >
					Comments
				</th>
						
                        </tr>
	        {% for register in registers %}
			<tr>
    				<td><a  class="list_link" href=""{%comment%}'/ce_availability/details/{{ register.id }}'{% endcomment %}>{{ register.id }}</a></td>
    				<td><a  class="list_link" href=""{%comment%}'/ce_availability/details/{{ register.id }}'{% endcomment %}>{{ register.user.last_name }}, {{ register.user.first_name }}</a></td>
    				<td><a class="list_link" href=""{%comment%}'/ce_availability/details/{{ register.id }}'{% endcomment %}>{{ register.start_date }}</a></td>
    				<td><a class="list_link" href=""{%comment%}'/ce_availability/details/{{ register.id }}'{% endcomment %}>{{ register.hours }}</a></td>
    				<td><a class="list_link" href=""{%comment%}'/ce_availability/details/{{ register.id }}'{% endcomment %}>{{ register.unavailability }}</a></td>
    				<td><a class="list_link" href=""{%comment%}'/ce_availability/details/{{ register.id }}'{% endcomment %}>{{ register.unavailability.category }}</a></td>
    				<td><a class="list_link" href=""{%comment%}'/ce_availability/details/{{ register.id }}'{% endcomment %}>{{ register.comments }}</a></td>
  			</tr>
	        {% endfor %}
		</table>
                <hr>
		<p> TOTAL unavailable hours: <b>{{hours}}</b></p>
	{% else %}
    		<hr>
		<p>No records found </p>
	{% endif %}

</div>
</html>
