{% extends 'ce_availability/base.html' %}

{% block content %}
	{% comment %}
	<h3>User details</h3>
	{% endcomment %}
        <div class="user_settings">
        <form method="post">
		{% csrf_token %}

		<div class="fieldWrapper_user">
                <label for="{{ user_form.first_name.id_for_label }}">Username (*):</label>
                <div class="input_field_user"> {{ user.username }} </div>
                </div>	

		<div class="fieldWrapper_user">
                <label for="{{ user_form.first_name.id_for_label }}">Role (*):</label>
                <div class="input_field_user"> {{ user_type }} </div>
                </div>

		{% if user_type == 'CE' %}
		<div class="fieldWrapper_user">
                <label for="{{ user_form.first_name.id_for_label }}">Manager (*):</label>
                <div class="input_field_user"> {{ user.employee.manager.first_name }} {{ user.employee.manager.last_name }} </div>
                </div>
		{% endif %}

		<div class="fieldWrapper_user">
                <label for="{{ employee_form.location.id_for_label }}">Location (*):</label>
                <div class="input_field_user"> {{ user.employee.location }} </div>
                </div>


		<div class="fieldWrapper_user">
                <label for="{{ employee_form.employee_id.id_for_label }}">Employee ID:</label>
                <div class="input_field_user"> {{ employee_form.employee_id }} </div>
                </div>

		<div class="fieldWrapper_user">
                <label for="{{ user_form.first_name.id_for_label }}">First Name:</label>
                <div class="input_field_user"> {{ user_form.first_name }} </div>
                </div>

		<div class="fieldWrapper_user">
                <label for="{{ user_form.last_name.id_for_label }}">Last Name:</label>
                <div class="input_field_user"> {{ user_form.last_name }} </div>
                </div>
		{% comment %}
		<div class="fieldWrapper_user">
                <label for="{{ user_form.last_email.id_for_label }}">E-mail:</label>
                <div class="input_field_user"> {{ user_form.email }} </div>
                </div>

		<div class="fieldWrapper_user">
                <label for="{{ employee_form.phone.id_for_label }}">Phone:</label>
                <div class="input_field_user"> {{ employee_form.phone }} </div>
                </div>
		{% endcomment %}

        </div>
	<p><a href="{% url 'change_password' %}">Change Password</a></p>
                <button type="submit">Update changes</button>
                <p> </p>
                <p>(*) Not editable. If wrong, please contact your manager.</p>
	</div>
{% endblock %}

