{% extends "ce_availability/base.html" %}

{% block content %}
    <h3>Login</h3>

    <div class=login_form>
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

	<div class="fieldWrapper">
        	<label for="{{ form.username.id_for_label }}">Username:</label>
                <div class="input_field"> {{ form.username }} </div>
                {% if form.username.errors %}
                	{% for error in form.username.errors %}
                        <div class="form_error"> {{ error|escape }}</div>
                        {% endfor %}
                {% endif %}

        </div>

	<div class="fieldWrapper">
                <label for="{{ form.password.id_for_label }}">Password:</label>
                <div class="input_field"> {{ form.password }} </div>
                {% if form.password.errors %}
                        {% for error in form.password.errors %}
                        <div class="form_error"> {{ error|escape }}</div>
                        {% endfor %}
                {% endif %}

        </div>
   	<input class=login_button type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />

    </form>
    </div>
	<div class="login_tip">If you don't remember you <b>Username</b> or <b>Password</b>, please go to the <a href="/ce_availability/password_reset">reset password</a> page.</div>
	{% if form.errors %}
        	<div class="text_error">Your username and password didn't match. Please try again.</div>
	{% endif %}

{% endblock %}

