{% extends 'ce_availability/base.html' %}

{% block content %}
  <h3>Forgot password</h3>
  <br>
  <p>Please introduce your e-mail address. An e-mail will be sent to you with instructions on how to reset your password:</p>
  <br>
  <form method="post">
    {% csrf_token %}
    {%comment%}
    {{ form.as_p }}
    {%endcomment%}
	<div class="fieldForm">
                        <label for="{{ form.email.id_for_label }}">Email:</label>
                        <div class="input_field"> {{ form.email }} </div>
                        <div class="error_field">
                                {% if form.email.errors %}
                                        {% for error in form.email.errors %}
                                        <div class="form_error"> {{ error|escape }}</div>
                                        {% endfor %}
                                {% endif %}
                        </div>
        </div>


    <button class="submit-button" type="submit">Submit</button>
  </form>
{% endblock %}
