/*BASE.HTML*/

/* On screens that are 1600px or less*/
@media screen and (max-width : 2600px) {
	.page-header {
		min-widthwidth: 1600px;
		background-color: #ffd633;
		margin-top: 0;
		margin-bottom: 10px;
		padding: 20px 20px 20px 30px;
	}
}
/* On screens that are 600px or less*/
@media screen and (max-width : 600px) {
	.page-header {
		width: 600px;
		#background-color: #e91e63e6;
		background-color: #ffd633;
		margin-top: 0;
		margin-bottom: 10px;
		padding: 20px 20px 20px 30px;
	}
}



/*
.page-header {
	min-width: 1600px;
    background-color: #ffd633;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 20px 20px 20px 40px;
}
*/

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #444444;
    font-weight: bold;
    font-size: 26pt;
    text-decoration: none;
}

.content {
    margin-left: 30px;
    padding-left: 4px;
}

.content_container{
    padding-left: 0px;
}

h1, h2, h3, h4 {
    /*font-family: 'Lobster', cursive;*/
    margin-top: 0px;
}

h2{
    color: #444444;
    font-weight: bold;
    font-size: 18pt;
    text-decoration: none;

}

.date {
    color: #828282;
}

.tags {
    margin: 6px 6px 6px 6px;
}

.mytag {
    background-color: #ebebe0;
    color: #428bca;
    margin: 10px 10px 0px -2px;
    padding: 4px 8px 4px 9px;
}


.save {
    /*float: left;*/
}

/*
.post-form textarea, .post-form input {
    width: 100%;
}
*/

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #444444;
    /*float: right;*/
    font-size: 12pt;
    /*margin-right: 20px;*/
    margin-left: 2px;
    margin-top: 6px;
    vertical-align:middle;
}

.top-menu-icon, .top-menu-icon:hover, .top-menu-icon:visited {
    color: #444444;
    /*float: right;*/
    font-size: 18pt;
    margin-left: 2px;
    padding-right: 10px;
}


.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 20px 20px 20px;
}

#id_ce_selector{

    margin-right: 10px;
}

#id_unavailability_selector{

    margin-right: 10px;
}

#id_category_selector{

    margin-right: 10px;
}

#id_year_selector{

    margin-right: 10px;
}
 
#id_month_selector{

    margin-right: 10px;
}
#id_week_selector{

    margin-right: 10px;
}


#id_email{
    /*margin-top: 10px;*/
}

button.save.btn.btn-default{
   margin-top: -4px;
   margin-left: 20px;
   height: 20px;
   width: 60px;
   padding: 0px;
}

button.submit-button{
   /*display: block;*/
   margin-top: 10px;
}

/* CALENDAR */

#id_mode_selector{
    margin-right: 10px;
}

#id_location_selector{

    margin-right: 10px;
}


.calendar_filter_form{
	padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    border: 1px solid #ececec;
    /*background-color: #ececec;*/
    height: 200px;
    width: 300px;
    display: block;
    /*float: left;*/
}

.edit_calendar{
    /*margin:10px;*/
    width: 180px;
	margin-top: 10px;
	margin-bottom: 10px;
    display: block;
}

.calendar_info{
    /*margin:10px;*/
    width: 400px;
    display: block;
}


table.table_calendar {
    font-weight: normal;
    border-collapse: collapse;
    font-size: 14px;
    border: 1px solid #000000;
    width: 1000px;
    table-layout:fixed;
    margin-top: 10px;
    overflow: hidden;
	z-index: 1;

}

table.table_calendar td, table.table_calendar th {
    cursor: pointer;
    /*position: relative;*/
}

table.table_calendar td {
    cursor: pointer;
    /*position: relative;*/
	font-size: 12px;
}

/*
table.table_calendar td:hover:before, .row:hover:before { 
    background-color: #ffa;
    content: '\00a0';  
    height: 100%;
    left: -5000px;
    position: absolute;  
    top: 0;
    width: 10000px;   
    z-index: -1;
    border: 1px solid black;
}

table.table_calendar td:hover:after, .col:hover:after { 
    background-color: #ffa;
    content: '\00a0';  
    height: 10000px;    
    left: 0;
    position: absolute;  
    top: -5000px;
    width: 100%;
    z-index: -1;
    border: 1px solid black;  
}


table.table_calendar tr:hover {
    font-weight: normal;
    background-color: #fffeb3;
    border: 1px solid black;  
}
*/

/*
table.table_calendar tr:nth-child(odd) {
    font-weight: normal;
    background-color: #eeeeee;
}
*/
/*
table.table_calendar tr:nth-child(odd):hover,  tr:nth-child(odd).selected {
    font-weight: normal;
    background-color: #fffeb3;
}
*/
/*
table.table_calendar tr:first-child th{
    font-weight: bold;
    background-color: #999999;
    color: white;
}
*/

table.table_calendar td, table.table_calendar th {
    padding-left:0px;
    padding-right:0px;
    table-layout:fixed;
    /*width: 34px;*/
    height: 20px;
    font-weight: normal;
    border: 1px solid black;
    text-align: left;
    /*padding: 2px;*/
    overflow: hidden;
}

table.table_calendar th.ce {
    width:220px;
    border: 1px solid #000000;
    padding-left: 8px;
}

table.table_calendar th.ce_header {
    width:220px;
    border: 1px solid #000000;
    padding-left: 8px;
	background: #9e9e9e54;
}
table.table_calendar th.location_header {
    width:80px;
    border: 1px solid #000000;
    padding-left: 8px;
	background: #00bcd4;
}
/*
table.table_calendar th.ce_header:hover {
    width:220px;
    border: 1px solid #000000;
    padding-left: 8px;
	background: #9e9e9e54;
}
*/

table.table_calendar td.ce {
    width:220px;
    border: 1px solid #000000;
    padding-left: 8px;
}

table.table_calendar th.total_hours {
    width:62px;
    border: 1px solid #000000;
    text-align: center;
    font-weight: normal;
	background: #ff33cc;
	color: white;
}

table.table_calendar td.total_hours {
    width:62px;
    border: 1px solid #000000;
    text-align: center;
    font-weight: normal;
}

table.table_calendar th.total_na_hours {
    width:62px;
    border: 1px solid #000000;
    text-align: center;
    background: #9900ff;
    color: white;
    font-weight: normal;
}

table.table_calendar td.total_na_hours {
    width:62px;
    border: 1px solid #000000;
    text-align: center;
}

table.table_calendar th.total_percentage_hours {
    width:72px;
    border: 1px solid #000000;
    text-align: center;
    background: #ff6600;
    color: white;

}

table.table_calendar td.total_percentage_hours {
    width:72px;
    border: 1px solid #000000;
    text-align: center;
}

table.table_calendar th.day {
    width:32px;
    border: 1px solid #000000;
    text-align: center;
}

table.table_calendar th.day_weekend {
    width:32px;
    border: 1px solid #000000;
    text-align: center;
    background: green;
    color: white;
}

table.table_calendar td.day_weekend_soft {
    width:32px;
    border: 1px solid #000000;
    text-align: center;
    background: #d9d9d9;
}

table.table_calendar th.day_festive {
    width:32px;
    border: 1px solid #000000;
    text-align: center;
    background: #669999;
    color: white;
}

table.table_calendar td.day_festive {
    width:32px;
    border: 1px solid #000000;
    text-align: center;
	color:white;
    background: #660066;
}


table.table_calendar th.day_laborable {
    width:32px;
    border: 1px solid #000000;
    text-align: center;
    background: #5bd75b;
    color: black;
}



table.table_calendar th.day_intensive {
    width:32px;
    border: 1px solid #000000;
    text-align: center;
    background: #3d943d;
    color: black;
}

table.table_calendar td.na {
    width:32px;
    border: 1px solid #000000;
    text-align: center;
    background: #87cefa;
}
table.table_calendar td.medical {
    width:34px;
    border: 1px solid #000000;
    text-align: center;
    background: #ffff00;
}

table.table_calendar td.rest {
    width:34px;
    border: 1px solid #000000;
    color: black;
    text-align: center;
    background: red;
}

table.table_calendar td.training {
    width:34px;
    border: 1px solid #000000;
    text-align: center;
    background: #994d00;

}

table.table_calendar td.professional-tasks {
    width:34px;
    border: 1px solid #000000;
    text-align: center;
    /*background: #994d00;*/
	background: #0066ff;
}

table.table_calendar td.non-transactional {
    width:34px;
    border: 1px solid #000000;
    text-align: center;
    background: #0066ff;
}

table.table_calendar td.non-na {
    width:34px;
    border: 1px solid #000000;
    text-align: center;
}

table.table_calendar td.intensive {
    width:34px;
    border: 1px solid #000000;
    text-align: center;
	background: #ffe4e4;
}

table.table_calendar_ce  {
	display: block;
    padding: 0;
	/*margin-left: 24;*/
}


table.table_calendar_ce td  {
    width:42px;
    height: 42px;

    padding: 0;
}

table.table_calendar_ce td:hover {
    font-weight: normal;
    background-color: #fffeb3;
}

table.table_calendar_ce td.non-na {
    width:34px;
    border: 1px solid #000000;
    vertical-align: top;

    width:42px;
	/*height: 26px;*/
	height: 42px;
    font-size: 15px;
    border: 1px solid #000000;
    text-align: center;
    color: black;
	vertical-align: top;
}

table.table_calendar_ce td.intensive {
    width:34px;
    border: 1px solid #000000;
    vertical-align: top;
	background: #ffe4e4;
    width:42px;
	/*height: 26px;*/
	height: 42px;
    font-size: 15px;
    border: 1px solid #000000;
    text-align: center;
    color: black;
	vertical-align: top;
}

table.table_calendar_ce td.professional-tasks {
    width:42px;
	/*height: 26px;*/
	height: 42px;
    font-size: 15px;
    border: 1px solid #000000;
    text-align: center;
	background: #0066ff;
    color: #121217;
	vertical-align: top;
}

table.table_calendar_ce td.day_festive {
    width:42px;
	/*height: 26px;*/
	height: 42px;
    font-size: 15px;
    border: 1px solid #000000;
    text-align: center;
	color:white;
    background: #660066;
	vertical-align: top;

}

table.table_calendar_ce td.medical {
    width:42px;
	/*height: 26px;*/
	height: 42px;
    font-size: 15px;
    border: 1px solid #000000;
    text-align: center;
    background: #ffff00;
    color: black;
	vertical-align: top;
}

table.table_calendar_ce td.training {
    width:42px;
	/*height: 26px;*/
	height: 42px;
    font-size: 15px;
    border: 1px solid #000000;
    text-align: center;
    background: #994d00;
    color: #f7e8e8;
	vertical-align: top;
}

table.table_calendar_ce td.rest {
    width:42px;
	/*height: 26px;*/
	height: 42px;
    font-size: 15px;
    border: 1px solid #000000;
    text-align: center;
    background: red;
	padding: 0px;
    color: #f7e8e8;
	vertical-align: top;
}


table.table_calendar_ce th.day_laborable {
    width:42px;
	/*height: 26px;*/
	height: 42px;
    font-size: 15px;
    border: 1px solid #000000;
    text-align: center;
    background: #5bd75b;
    color: black;
}

table.table_calendar_ce th.day_intensive {
    width:42px;
	/*height: 26px;*/
	height: 42px;
    font-size: 15px;
    border: 1px solid #000000;
    text-align: center;
    background: #3d943d;
    color: black;
}

table.table_calendar_ce th.day_weekend {
    width:42px;
	/*height: 26px;*/
	height: 42px;
    font-size: 15px;
    border: 1px solid #000000;
    text-align: center;
    background: green;
    color: white;
}

table.table_calendar_ce td.day_weekend_soft {
    width:42px;
	/*height: 26px;*/
	height: 42px;
    border: 1px solid #000000;
    vertical-align: top;
    background: #d9d9d9;
}

table.table_calendar_ce th.day_laborable {
    width:42px;
	/*height: 26px;*/
	height: 42px;
    font-size: 15px;
    border: 1px solid #000000;
    text-align: center;
    background: #5bd75b;
    color: black;
}

.calendar_day {
	width: 4px;
	align: right;
	font-size: 10px;
	vertical-align: top;
}

/*Table Legend*/

.calendar_legend{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px; 
    padding-left: 40px;
    border: 1px solid #ececec;
    height: 160px;
    width: 240px;
    float: left;
    /*display: block;*/
}


table.table_legend {
    font-weight: normal;
    border-collapse: collapse;
    font-size: 12px;
    border: 1px solid #000000;
    table-layout:fixed;
	/*margin-left: 24;*/
}


table.table_legend td.non-na {
    width:160px;
    border: 1px solid #000000;
    text-align: left;
}

table.table_legend td.na {
    width:34px;
    border: 1px solid #000000;
    text-align: center;
    background: #87cefa;
}

table.table_legend th.day_weekend {
    width:34px;
    border: 1px solid #000000;
    text-align: center;
    background: red;
    color: white;
}

table.table_legend th.day_festive {
    width:34px;
    border: 1px solid #000000;
    text-align: center;
    background: #660066;
    color: white;
}

table.table_legend th.day_intensive {
    width: 34px;
    border: 1px solid #000000;
    text-align: center;
    background: #ffe4e4;
    color: black;
}

table.table_legend th.day_laborable {
    width:34px;
    border: 1px solid #000000;
    text-align: center;
    background: green;
    color: white;
}

table.table_legend td.medical {
    width:34px;
    border: 1px solid #000000;
    text-align: center;
    background: #ffff00;
    color: black;
}

table.table_legend td.rest {
    width:34px;
    border: 1px solid #000000;
    color: black;
    text-align: center;
    background: red;
    color: white;
}

table.table_legend td.training {
    width:34px;
    border: 1px solid #000000;
    text-align: center;
    background: #994d00;
    color: white;
}

table.table_legend td.professional-tasks {
    width:34px;
    border: 1px solid #000000;
    text-align: center;
    /*background: #994d00;*/
	background: #0066ff;
    color: white;
}

table.table_legend td.non-transactional {
    width:34px;
    border: 1px solid #000000;
    text-align: center;
    background: #0066ff;
    color: white;
}



/*
table.table_calendar tr:first-child th{
    font-weight: bold;
    background-color: #999999;
    color: white;
}
*/


/* TABLE REGISTERS */
table.table_registers {
    font-weight: normal;
    border-collapse: collapse;
    width: 1000px;
    font-size: 13px;
    border: 1px solid #000000;
    overflow: hidden;
}

/*
table.table_registers tr:first-child td, table.table_registers td:first-child tr { 
    font-weight: bold;
    background-color: #cccccc;
    text-align: center;
}
*/

table.table_registers tr:nth-child(1){
    font-weight: bold;
    background-color: #cccccc;
    text-align: center;
}

table.table_registers td, table.table_registers th {

    font-weight: normal;
    border: 1px solid #aaaaaa;
    text-align: left;
    padding: 8px;
}

table.table_registers th.ce {
    width:140px;
}

table.table_registers th.id {
    width:80px;
}

table.table_registers th.start {
    width:120px;
}

table.table_registers th.finish {
    width:140px;
}

table.table_registers th.hours {
    width:40px;
}

table.table_registers th.unavailability {
    width:180px;
}

table.table_registers th.published {
    width:220px;
}
table.table_registers th.category {
    width:140px;
}
table.table_registers th.comments {
    width:200px;
}

table.table_registers tr:nth-child(odd) {
    font-weight: normal;
    background-color: #eeeeee;
}
table.table_registers tr:nth-child(odd):hover,  tr:nth-child(odd).selected {
    font-weight: normal;
    background-color: #fffeb3;
}
table.table_registers tr:nth-child(even):hover,  tr:nth-child(even).selected {
    font-weight: normal;
    background-color: #fffeb3;
}




table.table_registers tr:first-child th{
    font-weight: bold;
    background-color: #999999;
    color: white;
}

/*TABLE SELECT COLOR*/

/*
tr:hover, tr.selected {
    background-color: #fffeb3;
}
*/

td {padding: 5px;}

table.table_registers a
{
    display:block;
    text-decoration:none;
}

/*LINK COLORS*/

a.medical_link{
    color: black;
    text-decoration: none;
}
a.rest_link{
    color: white;
    text-decoration: none;
}

a.training_link{
    color: white;
    text-decoration: none;
}

a.non-transactional_link{
    color: white;
    text-decoration: none;
}
a.professional-tasks_link{
    color: white;
    text-decoration: none;
}
a.list_link {
    color: black;
    text-decoration: none;
}


a.list_link:link {
    color: black;
    text-decoration: none;
}



/* visited link */
a.list_link:visited {
    color: black;
}

/* mouse over link */
a.list_link:hover {
    color: black;
}

/* selected link */
a.list_link:active {
    color: black;
}

/*LINK COLORS*/
a.festive_link {
    color: white;
    text-decoration: none;
}


a.festive_link:link {
    color: white;
    text-decoration: none;
}



/* visited link */
a.festive_link:visited {
    color: white;
}

/* mouse over link */
a.festive_link:hover {
    color: white;
}

/* selected link */
a.list_link:active {
    color: black;
}

/*Style INSERT */

#id_unavailability {
}
#id_hours {
    width: 50px;
}

#id_date {
    width: 130px;
    height: 26px;
}

#id_start_date {
    width: 130px;
    height: 26px;

}
#id_end_date {
    width: 130px;
    height: 26px;
}

#id_comments {
    width: 200px;
}

/*CHANGE PWD*/
.change_pwd_form{
    margin-top: 20px;
    margin-bottom: 10px;
    /*border: 1px solid #ececec;*/
   /*background-ccolor: #ececec;*/
    height: 240px;
    width: 960px;
}

.fieldInputForm{
    margin-top: 20px;
    margin-bottom: 10px;
    /*border: 1px solid green;*/
   /* background-ccolor: #ececec;*/
    height: 120px;
    width: 600px;
}
.button-chg-pwd{
    /*margin-top: 100px;*/
    margin-left: 198px;
}

#id_old_password{
    float: left;
    display: block;
}
#id_new_password1{
    float: left;
    display: block;
}
#id_new_password2{
    float: left;
    display: block;
}
#helptext{
    border: 1px solid #ececec;
}
.ul{
   margin-top: 20px;
   border: 1px solid #ececec;
}

.error_field-chg-pwd{
	/*border: 1px solid red;*/
	height: 80px;
	width: 460px;	
	margin-left: 20px;
}

.form_error_chg-pwd{
   color: red;
   height: 20px;
   display: block;
}



/*LOGIN PAGE*/

.login_form{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: -80px;
    /*border: 1px solid #ececec;*/
   /* background-ccolor: #ececec;*/
    height: 140px;
    width: 360px;
    
}
.fieldwrapper_login{
    display: block;
    height: 40px;
    width: 600px;
    /*padding: 10px;*/
}


.login_button{
   float: none;
    display: block;
    white-space: normal;
    text-align: center;
    width: 60px;
    margin-top: 16px;
    margin-left: 210px;
}

.login_tip{
   margin-top: 20px;
   margin-bottom: 20px;
}
/* CALENDAR EVENTS*/

#id_location_selector{

    margin-right: 10px;

}

#id_kindofday_selector{
    margin-right: 10px;

}

#id_location{
/*
    margin-left: 4px;
    margin-right: 10px;
*/
}

#id_kindofday{
/*
    margin-left: 4px;
    margin-right: 10px;
*/
}

#id_comment{
/*
    margin-left: 4px;
    margin-right: 10px;
*/
}
#id_date_selector {
    width: 130px;
    height: 26px;
/*
    margin-left: 4px;
    margin-right: 10px;
*/
}
#id_start_date_event {
    width: 130px;
    height: 26px;
/*
    margin-left: 4px;
    margin-right: 10px;
*/
}
#id_end_date_event {
    width: 130px;
    height: 26px;
/*
    margin-left: 4px;
    margin-right: 10px;
*/
}


.calendar_edit_form{
	padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ececec;
    /*background-color: #ececec;*/
    height: 210px;
    width: 440px;*/
    display: block;
}

table.table_calendar_events {
    font-weight: normal;
    border-collapse: collapse;
    width: 1000px;
    font-size: 13px;
    border: 1px solid #000000;
}

/*
table.table_calendar_events tr:first-child td, table.table_calendar_events td:first-child tr { 
    font-weight: bold;
    background-color: #cccccc;
    text-align: center;
}
*/

table.table_calendar_events tr:nth-child(1){
    font-weight: bold;
    background-color: #cccccc;
    text-align: center;
}

table.table_calendar_events td, table.table_calendar_events th {

    font-weight: normal;
    border: 1px solid #aaaaaa;
    text-align: left;
    padding: 8px;
}

table.table_calendar_events th.ce {
    width:140px;
}

table.table_calendar_events th.id {
    width:80px;
}

table.table_calendar_events th.start {
    width:120px;
}

table.table_calendar_events th.finish {
    width:140px;
}

table.table_calendar_events th.hours {
    width:40px;
}

table.table_calendar_events th.unavailability {
    width:100px;
}

table.table_calendar_events th.published {
    width:220px;
}
table.table_calendar_events th.category {
    width:140px;
}
table.table_calendar_events th.comments {
    width:200px;
}

table.table_calendar_events tr:nth-child(odd) {
    font-weight: normal;
    background-color: #eeeeee;
}

table.table_calendar_events tr:nth-child(even) {
    font-weight: normal;
    background-color: white;
}
/*
table.table_calendar_events tr:nth-child(even):hover,  tr:nth-child(even).selected {
    font-weight: normal;
    background-color: #fffeb3;
}

table.table_calendar_events tr:nth-child(odd):hover,  tr:nth-child(odd).selected {
    font-weight: normal;
    background-color: #fffeb3;
}
*/

table.table_calendar_events tr:first-child th{
    font-weight: bold;
    background-color: #999999;
    color: white;
}

/*TABLE SELECT COLOR*/

/*
tr:hover, tr.selected {
    background-color: #fffeb3;
}
*/

td {padding: 5px;}

table.table_calendar_events a
{
    display:block;
    text-decoration:none;
}
/* **************************************** */

/* **************************************** */
/*LIST REGISTERS*/
.filter_form{
	padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ececec;
    /*background-color: #ececec;*/
    height: 280px;
    width: 440px;*/
    display: block;
}

.filter_left{
   /*border: 1px solid red;*/
   height: 80px;
   width: 310px;
   height: 100px;
   float: left;
}
.filter_center{
   /*border: 1px solid blue;*/
   height: 80px;
   width: 310px;
   height: 100px;
   float: left;
}
.filter_right{
    height:80px;
    width: 310px;
    /*border:1px solid green;*/
    float: left;
}


.button_filter{
    float: none;
    display: block;
    white-space: normal;
    text-align: center;
    width: 120px;
    height: 22px;
    margin-left: 168px;
}

.fieldwrapper_filter{
    display: block;
    height: 40px;
    width: 360px
}


/*USER SETTINGS*/
.user_settings{
    margin-bottom: 10px;
    margin-left: -60px;
    /*border: 1px solid #ececec;*/
    /*background-color: #ececec;*/
    height: 300px;
    width: 680px;
    display: block;
}
.fieldwrapper_user{
    display: block;
    height: 40px;
    width: 600px;
    /*padding: 10px;*/
}
.input_field_user {
    height: 20px;
    width: 340px;
    /*Comment*/
    /*margin-top: 10px;*/
    margin-right: 10px;
    float: left;
}

/*MODIFY REGISTER*/
.modify_register{
    margin-top: 20px;
    margin-bottom: 10px;
    /*border: 1px solid #ececec;*/
    /*background-color: #ececec;*/
    height: 220px;
    width: 760px;
    display: block;
}

.insert_event{
    margin-top: 20px;
    margin-bottom: 10px;
    /*border: 1px solid #ececec;*/
    /*background-color: #ececec;*/
    width: 760px;
    display: block;
}
.update-button{
    width: 80px;
    margin-left:20px;
}


/*INSERT REGISTER*/

.fieldForm_insert_register{
	height:44px;
	clear: both;
}

.unavailability_form{
    margin-top: 20px;
    margin-left: -40px;
    /*border: 1px solid #ececec;*/
    /*background-color: #eeeeee;*/
    height: 345px;
    width: 680px;
}

.radio_field {
    height: 20px;
    width: 340px;
    /*Comment*/
    /*margin-top: 10px;*/
    margin-right: 10px;
    float: left;
	margin-left: 168px;
	margin-bottom: 10px;
}

.radio_field_day {
    height: 20px;
    width: 86px;
    /*Comment*/
    /*margin-top: 10px;*/
    margin-right: 10px;
	margin-left: 0px;
    float: left;
}
.input_field_insert {
    /*height: 20px;*/
    /*width: 280px;*/
    /*Comment*/
    /*margin-top: 10px;*/
    margin-right: 10px;
    float: left;
}

.input_field_insert_hours {
    /*height: 20px;*/
    /*width: 60px;*/
    /*Comment*/
    /*margin-top: 10px;*/
    margin-right: 10px;
    float: left;
}
.fieldwrapper{
    display: block;
    height: 40px;
    width: 400px;
    /*padding: 10px;*/
}

label {
    color: #333;
    height: 20px;
    width: 140px;
    /*margin-top: 10px;*/
    margin-left: 10px;
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}

.input_field {
    height: 20px;
    /*width: 240px;*/
    /*margin-top: 10px;*/
    margin-right: 10px;
    float: left;
}

.input_field_filter {
    height: 20px;
    width: 160px;
    /*margin-top: 10px;*/
    margin-right: 10px;
    float: left;
}


.form_error{
	display: block;
	float: left;
}


.error_field{
    margin-left: 120px;
	color: red;
	height: 20px;
    width: 400px;
	font-size: 12;
    /*margin-top: 30px;*/
	clear: both;
	margin-left: 168px;
}

.text_error{
   color: red;
   height: 20px;
    /*width: 160px;*/
    display: block;
    margin-top: 10px;
}

button.save.btn.btn-default{
    float: none;
    display: block;
    white-space: normal;
    text-align: center;
    width: 80px;
    margin-top: 18px;
    margin-left: 126px;
}

#id_start_date {
    width: 130px;
    height: 22px;
}

#id_end_date {
    width: 130px;
    height: 22px;
}
#id_date {
    width: 130px;
    height: 22px;
}

